@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url('//themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff') format('woff');
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    src: local('Titillium WebSemiBold'), local('TitilliumWeb-SemiBold'), url('//themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wprx3QmhlKDgQgT1VN2Ed1WFo.woff') format('woff');
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url('//themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr_5rZpfU3XI-FvUPGDRT0xY.woff') format('woff');
}
@font-face{
    font-family:'DINSchrift Alternate';
    src: url("/assets/font/dinengschrift-alternate-webfont.eot");
    src: url("/assets/font/dinengschrift-alternate-webfont.eot?#iefix") format("embedded-opentype"),
    url("/assets/font/dinengschrift-alternate-webfont.woff") format("woff"),
    url("/assets/font/dinengschrift-alternate-webfont.ttf") format("truetype"),
    url("/assets/font/dinengschrift-alternate-webfont.svg#dinschriftalternate") format("svg");
    font-weight:normal;
    font-style:normal
}

body {
  padding-top: 100px;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  background-color: #faf3e4;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: .1em .1em .2em rgba(0,0,0,0.1);
    font-weight: 500;
    font-family: 'DINSchrift Alternate', Helvetica, Arial, sans-serif;
    color: #554e3e;
}
.navbar-inner {
  padding: 5px 0;
  background: none rgba(0, 0, 0, 0.7);
  box-shadow: none !important;
}

.navbar .nav.pull-right li {
  line-height: 42px
}
.navbar .nav.pull-right a {
  margin-right: 40px;
  text-decoration: none;
  color: #ccc;
  font-size: 14px;
  font-family: 'Titillium Web', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-shadow: none;
}
.navbar .nav.pull-right li:last-child a {
  margin-right: 0;
}
.navbar .nav.pull-right a:hover {
  color: #fff;
}
.navbar .nav.pull-right a.orange-button {
  display: inline-block;
}

#menu {
  min-height: 800px;
  border-left: 1px solid #eee;
  width: 180px;
}
@media (min-width: 1200px) {
  #menu {
      width: 200px;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #menu {
    width: 140px;
  }
}
@media (max-width: 768px) {
  #menu {
    min-height: 0;
    border: none;
    position: static;
    width: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
}

#menu li.nav-header {
  color: #554e3e;
  font-size: 16px;
  font-family: 'DINSchrift Alternate', Helvetica, Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 2px;
}
#menu li a {
  padding-top: 6px;
  padding-bottom: 8px;
}
#menu li a {
  color: #999;
  text-shadow: none;
}
#menu li.active a {
  background-color: #33a5c8;
  color: #fff;
}

.orange-button {
  display: inline-block;
  line-height: 20px;
  border-radius: 20px;
  vertical-align: middle;
  color: #ffffff !important;
  background-image: linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
  background-image: -moz-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
  background-image: -webkit-linear-gradient(90deg, #dc534b 0%, #d96f5f 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  padding: 0 10px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

